@{
    Layout="~/shared/_layout.cshtml";
    var PageTitle="Billing Page";
}

@section t1{
@PageTitle
}
@{
    var message = "";
    // Specify validation requirements for different fields.
    Validation.RequireField("Email", "Email is required");
    Validation.RequireField("FirstName", "First Name is required");
    Validation.RequireField("LastName", "Last Name is required");
    Validation.RequireField("CompanyName", "Company Name is required");
    Validation.RequireField("PhoneNumber", "Phone Number is required");
    Validation.RequireField("A1", "Address Line1 Name is required");
    Validation.RequireField("City", "City Name is required");
    Validation.RequireField("Country", "First Name is required");    
    Validation.RequireField("ZipCode", "Zip Code is required");
    Validation.Add("ZipCode", Validator.Integer("Credits must be an integer"));
    
    

   
    if (IsPost)
    {
        // Before processing anything, make sure that all user input is valid.
        if (Validation.IsValid())
        {
            
            Console.WriteLine("fsdf");
            
        }
    }
}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
         <link rel="stylesheet" href="~/Styles/Checkout.css" type="text/css">
    </head>
    <body>
<script type="text/javascript" src="~/Styles/jquery.js"></script>    
 <div id="Wrapper" style="margin-left: 400px">			
 <div class="Content Widest" id="LayoutColumn1">
     @Html.ValidationSummary()
<div class="Block Moveable Panel" id="ChooseShippingAddress">

	<h2>Billing Details</h2>
	<div class="BlockContent">
		<p class="ErrorMessage" style="display: none">
			
		</p>

<form  id="AddressEditForm" method="post" action="" onsubmit="retu">
			<div class="FormContainer HorizontalFormContainer">
					<dl>
						<dt>
	<span class="Required FormFieldRequired" style="visibility: visible">*</span> <span class="FormFieldLabel">Email Address:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldId" value="1" /><input type="hidden" class="FormFieldFormId" value="1" /><input type="hidden" class="FormFieldType" value="singleline" /><input type="hidden" class="FormFieldPrivateId" value="EmailAddress" />
	<input type="text" class="Textbox Field200 FormField" id="FormField_1" name="Email"  value="@Request["Email"]" @Validation.For("Email")/>@Html.ValidationMessage("Email")
</dd> <dt>
	<span class="Required FormFieldRequired" style="visibility: visible">*</span> <span class="FormFieldLabel">First Name:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldId" value="4" /><input type="hidden" class="FormFieldFormId" value="2" /><input type="hidden" class="FormFieldType" value="singleline" /><input type="hidden" class="FormFieldPrivateId" value="FirstName" />
	<input type="text" class="Textbox Field200 FormField" id="FormField_4" name="FirstName"  value="@Request["FirstName"]" @Validation.For("FirstName")/>@Html.ValidationMessage("FirstName")
</dd><dt>
	<span class="Required FormFieldRequired" style="visibility: visible">*</span> <span class="FormFieldLabel">Last Name:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldId" value="5" /><input type="hidden" class="FormFieldFormId" value="2" /><input type="hidden" class="FormFieldType" value="singleline" /><input type="hidden" class="FormFieldPrivateId" value="LastName" />
	<input type="text" class="Textbox Field200 FormField" id="FormField_5" name="LastName"  value="@Request["LastName"]" @Validation.For("LastName")/>@Html.ValidationMessage("LastName")
</dd><dt>
	<span class="Required FormFieldRequired" style="visibility: hidden">*</span> <span class="FormFieldLabel">Company Name:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldId" value="6" /><input type="hidden" class="FormFieldFormId" value="2" /><input type="hidden" class="FormFieldType" value="singleline" /><input type="hidden" class="FormFieldPrivateId" value="CompanyName" />
	<input type="text" class="Textbox Field200 FormField" id="FormField_6" name="CompanyName"  value="@Request["Company"]" @Validation.For("Company")/>@Html.ValidationMessage("CompanyName")
</dd><dt>
	<span class="Required FormFieldRequired" style="visibility: visible">*</span> <span class="FormFieldLabel">Phone Number:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldId" value="7" /><input type="hidden" class="FormFieldFormId" value="2" /><input type="hidden" class="FormFieldType" value="singleline" /><input type="hidden" class="FormFieldPrivateId" value="Phone" />
	<input type="text" class="Textbox Field200 FormField" id="FormField_7" name="PhoneNumber"  value="@Request["PhoneNumber"]" @Validation.For("PhoneNumber")/>@Html.ValidationMessage("PhoneNumber")
</dd><dt>
	<span class="Required FormFieldRequired" style="visibility: visible">*</span> <span class="FormFieldLabel">Address Line 1:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldId" value="8" /><input type="hidden" class="FormFieldFormId" value="2" /><input type="hidden" class="FormFieldType" value="singleline" /><input type="hidden" class="FormFieldPrivateId" value="AddressLine1" />
	<input type="text" class="Textbox Field200 FormField" id="FormField_8" name="A1"  value="" @Validation.For("A1")/>@Html.ValidationMessage("A1")
</dd><dt>
	<span class="Required FormFieldRequired" style="visibility: hidden">*</span> <span class="FormFieldLabel">Address Line 2:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldId" value="9" /><input type="hidden" class="FormFieldFormId" value="2" /><input type="hidden" class="FormFieldType" value="singleline" /><input type="hidden" class="FormFieldPrivateId" value="AddressLine2" />
	<input type="text" class="Textbox Field200 FormField" id="FormField_9" name="A2"  value="" />
</dd><dt>
	<span class="Required FormFieldRequired" style="visibility: visible">*</span> <span class="FormFieldLabel">City:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldId" value="10" /><input type="hidden" class="FormFieldFormId" value="2" /><input type="hidden" class="FormFieldType" value="singleline" /><input type="hidden" class="FormFieldPrivateId" value="City" />
	<input type="text" class="Textbox Field200 FormField" id="FormField_10" name="City"  value="@Request["City"]" @Validation.For("City")/>@Html.ValidationMessage("City")
</dd><dt>
	<span class="Required FormFieldRequired" style="visibility: visible">*</span> <span class="FormFieldLabel">Country:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldChoosePrefix" value="Choose a Country" /><input type="hidden" class="FormFieldId" value="11" /><input type="hidden" class="FormFieldFormId" value="2" /><input type="hidden" class="FormFieldType" value="singleselect" /><input type="hidden" class="FormFieldPrivateId" value="Country" />
	<select class="Field200 FormField" style="" id="FormField_11" name="Country"  size="1" value="@Request["Country"]" @Validation.For("Country")>@Html.ValidationMessage("Country")
	<option value="">Choose a Country</option>
<option value="Afghanistan">Afghanistan</option>
<option value="Albania">Albania</option>
<option value="Algeria">Algeria</option>
<option value="American Samoa">American Samoa</option>
<option value="Andorra">Andorra</option>
<option value="Angola">Angola</option>
<option value="Anguilla">Anguilla</option>
<option value="Antarctica">Antarctica</option>
<option value="Antigua and Barbuda">Antigua and Barbuda</option>
<option value="Argentina">Argentina</option>
<option value="Armenia">Armenia</option>
<option value="Aruba">Aruba</option>
<option value="Australia">Australia</option>
<option value="Austria">Austria</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Bahamas">Bahamas</option>
<option value="Bahrain">Bahrain</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Barbados">Barbados</option>
<option value="Belarus">Belarus</option>
<option value="Belgium">Belgium</option>
<option value="Belize">Belize</option>
<option value="Benin">Benin</option>
<option value="Bermuda">Bermuda</option>
<option value="Bhutan">Bhutan</option>
<option value="Bolivia">Bolivia</option>
<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option value="Botswana">Botswana</option>
<option value="Bouvet Island">Bouvet Island</option>
<option value="Brazil">Brazil</option>
<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
<option value="Brunei Darussalam">Brunei Darussalam</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Burkina Faso">Burkina Faso</option>
<option value="Burundi">Burundi</option>
<option value="Cambodia">Cambodia</option>
<option value="Cameroon">Cameroon</option>
<option value="Canada">Canada</option>
<option value="Cape Verde">Cape Verde</option>
<option value="Cayman Islands">Cayman Islands</option>
<option value="Central African Republic">Central African Republic</option>
<option value="Chad">Chad</option>
<option value="Chile">Chile</option>
<option value="China">China</option>
<option value="Christmas Island">Christmas Island</option>
<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
<option value="Colombia">Colombia</option>
<option value="Comoros">Comoros</option>
<option value="Congo">Congo</option>
<option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
<option value="Cook Islands">Cook Islands</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Croatia">Croatia</option>
<option value="Cuba">Cuba</option>
<option value="Cyprus">Cyprus</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Denmark">Denmark</option>
<option value="Djibouti">Djibouti</option>
<option value="Dominica">Dominica</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="Ecuador">Ecuador</option>
<option value="Egypt">Egypt</option>
<option value="El Salvador">El Salvador</option>
<option value="Equatorial Guinea">Equatorial Guinea</option>
<option value="Eritrea">Eritrea</option>
<option value="Estonia">Estonia</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
<option value="Faroe Islands">Faroe Islands</option>
<option value="Fiji">Fiji</option>
<option value="Finland">Finland</option>
<option value="France">France</option>
<option value="French Guiana">French Guiana</option>
<option value="French Polynesia">French Polynesia</option>
<option value="French Southern Territories">French Southern Territories</option>
<option value="Gabon">Gabon</option>
<option value="Gambia">Gambia</option>
<option value="Georgia">Georgia</option>
<option value="Germany">Germany</option>
<option value="Ghana">Ghana</option>
<option value="Gibraltar">Gibraltar</option>
<option value="Greece">Greece</option>
<option value="Greenland">Greenland</option>
<option value="Grenada">Grenada</option>
<option value="Guadeloupe">Guadeloupe</option>
<option value="Guam">Guam</option>
<option value="Guatemala">Guatemala</option>
<option value="Guernsey">Guernsey</option>
<option value="Guinea">Guinea</option>
<option value="Guinea-Bissau">Guinea-Bissau</option>
<option value="Guyana">Guyana</option>
<option value="Haiti">Haiti</option>
<option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
<option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
<option value="Honduras">Honduras</option>
<option value="Hong Kong">Hong Kong</option>
<option value="Hungary">Hungary</option>
<option value="Iceland">Iceland</option>
<option value="India">India</option>
<option value="Indonesia">Indonesia</option>
<option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
<option value="Iraq">Iraq</option>
<option value="Ireland">Ireland</option>
<option value="Isle of Man">Isle of Man</option>
<option value="Israel">Israel</option>
<option value="Italy">Italy</option>
<option value="Jamaica">Jamaica</option>
<option value="Japan">Japan</option>
<option value="Jersey">Jersey</option>
<option value="Jordan">Jordan</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Kenya">Kenya</option>
<option value="Kiribati">Kiribati</option>
<option value="Korea, Democratic People&#039;s Republic of">Korea, Democratic People&#039;s Republic of</option>
<option value="Korea, Republic of">Korea, Republic of</option>
<option value="Kuwait">Kuwait</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Lao People&#039;s Democratic Republic">Lao People&#039;s Democratic Republic</option>
<option value="Latvia">Latvia</option>
<option value="Lebanon">Lebanon</option>
<option value="Lesotho">Lesotho</option>
<option value="Liberia">Liberia</option>
<option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
<option value="Liechtenstein">Liechtenstein</option>
<option value="Lithuania">Lithuania</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Macao">Macao</option>
<option value="Macedonia, the Former Yugoslav Republic of">Macedonia, the Former Yugoslav Republic of</option>
<option value="Madagascar">Madagascar</option>
<option value="Malawi">Malawi</option>
<option value="Malaysia">Malaysia</option>
<option value="Maldives">Maldives</option>
<option value="Mali">Mali</option>
<option value="Malta">Malta</option>
<option value="Marshall Islands">Marshall Islands</option>
<option value="Martinique">Martinique</option>
<option value="Mauritania">Mauritania</option>
<option value="Mauritius">Mauritius</option>
<option value="Mayotte">Mayotte</option>
<option value="Mexico">Mexico</option>
<option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
<option value="Moldova, Republic of">Moldova, Republic of</option>
<option value="Monaco">Monaco</option>
<option value="Mongolia">Mongolia</option>
<option value="Montenegro">Montenegro</option>
<option value="Montserrat">Montserrat</option>
<option value="Morocco">Morocco</option>
<option value="Mozambique">Mozambique</option>
<option value="Myanmar">Myanmar</option>
<option value="Namibia">Namibia</option>
<option value="Nauru">Nauru</option>
<option value="Nepal">Nepal</option>
<option value="Netherlands">Netherlands</option>
<option value="Netherlands Antilles">Netherlands Antilles</option>
<option value="New Caledonia">New Caledonia</option>
<option value="New Zealand">New Zealand</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Niger">Niger</option>
<option value="Nigeria">Nigeria</option>
<option value="Niue">Niue</option>
<option value="Norfolk Island">Norfolk Island</option>
<option value="Northern Mariana Islands">Northern Mariana Islands</option>
<option value="Norway">Norway</option>
<option value="Oman">Oman</option>
<option value="Pakistan">Pakistan</option>
<option value="Palau">Palau</option>
<option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
<option value="Panama">Panama</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Paraguay">Paraguay</option>
<option value="Peru">Peru</option>
<option value="Philippines">Philippines</option>
<option value="Pitcairn">Pitcairn</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Puerto Rico">Puerto Rico</option>
<option value="Qatar">Qatar</option>
<option value="Reunion">Reunion</option>
<option value="Romania">Romania</option>
<option value="Russian Federation">Russian Federation</option>
<option value="Rwanda">Rwanda</option>
<option value="Saint Helena">Saint Helena</option>
<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
<option value="Saint Lucia">Saint Lucia</option>
<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
<option value="Samoa">Samoa</option>
<option value="San Marino">San Marino</option>
<option value="Sao Tome and Principe">Sao Tome and Principe</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Senegal">Senegal</option>
<option value="Serbia">Serbia</option>
<option value="Seychelles">Seychelles</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="Singapore">Singapore</option>
<option value="Slovakia">Slovakia</option>
<option value="Slovenia">Slovenia</option>
<option value="Solomon Islands">Solomon Islands</option>
<option value="Somalia">Somalia</option>
<option value="South Africa">South Africa</option>
<option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
<option value="Spain">Spain</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="Sudan">Sudan</option>
<option value="Suriname">Suriname</option>
<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
<option value="Swaziland">Swaziland</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="Syrian Arab Republic">Syrian Arab Republic</option>
<option value="Taiwan">Taiwan</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
<option value="Thailand">Thailand</option>
<option value="Timor-Leste">Timor-Leste</option>
<option value="Togo">Togo</option>
<option value="Tokelau">Tokelau</option>
<option value="Tonga">Tonga</option>
<option value="Trinidad and Tobago">Trinidad and Tobago</option>
<option value="Tunisia">Tunisia</option>
<option value="Turkey">Turkey</option>
<option value="Turkmenistan">Turkmenistan</option>
<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
<option value="Tuvalu">Tuvalu</option>
<option value="Uganda">Uganda</option>
<option value="Ukraine">Ukraine</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="United Kingdom">United Kingdom</option>
<option value="United States">United States</option>
<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
<option value="Uruguay">Uruguay</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Vanuatu">Vanuatu</option>
<option value="Venezuela">Venezuela</option>
<option value="Viet Nam">Viet Nam</option>
<option value="Virgin Islands, British">Virgin Islands, British</option>
<option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
<option value="Wallis and Futuna">Wallis and Futuna</option>
<option value="Western Sahara">Western Sahara</option>
<option value="Yemen">Yemen</option>
<option value="Zambia">Zambia</option>
<option value="Zimbabwe">Zimbabwe</option>

</select>
<dt>
	<span class="Required FormFieldRequired" style="visibility: visible">*</span> <span class="FormFieldLabel">Zip/Postcode:</span>
</dt>
<dd>
	<input type="hidden" class="FormFieldId" value="13" /><input type="hidden" class="FormFieldFormId" value="2" /><input type="hidden" class="FormFieldType" value="singleline" /><input type="hidden" class="FormFieldPrivateId" value="Zip" />
	<input type="text" class="Textbox Field45 FormField" style="width:40px;" id="FormField_13" name="ZipCode"  value="@Request["ZipCode"]" @Validation.For("ZipCode")/>@Html.ValidationMessage("ZipCode")
</dd>
						<dt style="">&nbsp;</dt>
						<dd style="">
							<label>
								<input type="checkbox" name="ship_to_billing" id="ship_to_billing" value="1" checked="checked" />
								I also want to ship to this address
							</label>
						</dd>
					</dl>
					<p class="Submit">
						<input type="submit" class="billButton" value="Bill &amp; Ship to this Address" />
					</p>
				</div>
</form>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#ship_to_billing').click(function() {
					if(this.checked) {
						$('.billButton').val("Bill & Ship to this Address");
					}
					else {
						$('.billButton').val("Bill to this address");
					}
				});
			});
		</script>
	</div>
</div>
</div>
        <br class="Clear" />
		</div>
		</div>
        <br class="Clear" />
        </div>

    </body>
</html>
