@{
    Layout="~/shared/_layout.cshtml";
    var PageTitle="Shoping Cart";
}

@section t1{
@PageTitle
}

@{    
 var db = Database.Open("MyDB");
    var selectQueryString = "SELECT * FROM ShopingCart";
    var data = db.Query(selectQueryString);
    int count = 0;   

} 

<!DOCTYPE html>

<html lang="en">
<head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="~/Styles/Cart.css" />
</head>
<body>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="business"
value="tipix_1356776467_biz@pucit.edu.pk">
    <div class="Block Moveable Panel" id="CartHeader" style="margin-bottom:7px;">

	<h2>
        Order Details
        <span style= "margin-left:410px;" class="FloatRight">
            <input type="image"
             src="~/Styles/images/proceedtocheckout.png"
             border="0" name="submit" alt="">			
		</span>		
	</h2>

    </div>
    
    <div id="col3_content" class="clearfix">
    <div id="body-column-main">
    <div id="box-shoppingCart" class="box-container box-container-none">    
    <div class="box box-style-none  box-padding-none">       
            
    <table class="shopping-cart" border="0"= cellspacing="0" width="100%">
    <tbody>
            <tr>
                <td scope="col" colspan="2" class="cart-btm-table" style="background-color: #a3c494;width: 90px">Items To Buy Now</td>
                <td scope="col" class="cart-btm-table" style="background-color: #a3c494;width: 90px;text-align: center">Qty</td>
                <td scope="col" class="cart-btm-table" align="right" style="background-color: #a3c494;width: 120px">Item Total</td>
            </tr>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="business"
value="waiza.munir@gmail.com">

    @{var total=0;}
    @foreach(var cart in data)
    {       
    string p=cart.PPrice;string v=p.Substring(1,(p.Length-1));int price=Convert.ToInt32(v);
    <tr class="first  units unit_117200290" style="background-color: #b2c9c9">
                @{count++;}                            
                <input type="hidden" name="item_name_@count"
                value="@cart.PName">
                <input type="hidden" name="amount_@count" value="@cart.PPrice">
    <td class="itemList-browse-cover" style="vertical-align: middle;" align="center">
        @Helper_Cart.Div1(cart.PImage)      
    </td>    
    <td class="bord-r-gray-dark">
        @Helper_Cart.Div2(cart.PPrice,cart.PName)
    </td>
    <td class="txt11 bord-r-gray-dark" align="center">
       @cart.PQuantity
     </td>
    <td class="last txt11 padl-53">
        @Helper_Cart.Div4(cart.PPrice)
      @{ total=total+price;}
    </td>
</tr>}
                
 </tbody></table>
            
    <div class="cls cart-btm-table">
        <div class="fl">
            <a href="@Href("~/Default.cshtml")">» Continue shopping</a>
        </div>
        <table class="fr" style="width: auto;" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class=" align-r"><strong>Grand total:</strong></td>
                    <td class="cart-total align-r" nowrap="nowrap">
                        <div class="small-price">
                            <strong class="total_price_after_coupon">$@total</strong>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cls">
    </div>
</div>
</div></div>
</div>
        </form>
    </body>
</html>
